<!-- your html code here -->
<div class="container-fluid bg-white justify-content-center">
    <div class="row">
       <div class="col-md-8">
   <p class="h1">¿Quiénes somos?</p>
   <p>Maak House, que lidera desde 1997 la venta de servicios de telecomunicaciones, ahora ofrece también todos los servicios para el hogar. La cadena multimarca, cuenta con más de 2.000 profesionales en sus más de 500 tiendas, donde con asesoramiento imparcial y experto ofrecen los servicios más adecuados a las necesidades de los clientes haciendo que su vida sea más fácil a través de la tecnología.
       
       Maak House apuesta por una estrategia omnicanal, gracias a la cual recibe más de 32 millones de visitas al año en tiendas físicas y otros 35 millones en la web maakhouse.es</p>
       </div>
   <div imagen class="col-md-4 d-flex justify-content-center align-items-center">
       <img src="https://freepngimg.com/thumb/iphone/19-iphone-in-hand-transparent-png-image.png" alt="maakhouse" class="img-fluid rounded-circle" width="300" height="300">
   </div>
   </div>
   </div>