<div class="container-fluid bg-white d-flex justify-content-center">
  <div class="row align-items-center text-center text-md-start">

    <div class="col-12 col-md-4 d-flex justify-content-center mb-4 mb-md-0">
      <img src="https://imagenes.20minutos.es/files/image_990_556/uploads/imagenes/2024/01/23/muchos-moviles.jpeg" 
           class="figure-img img-fluid rounded-circle" 
           style="width: 250px; height: 250px; object-fit: cover;">
    </div>

    <div class="col-12 col-md-8">
      <h1>¿Qué nos hace diferentes?</h1>
      
      <div class="my-4">
        <b>Variedad</b>
        <p>Tenemos la mayor gama de operadores, productos de telecomunicaciones y servicios para las personas y el hogar.</p>
      </div>

      <div class="my-4">
        <b>Precio</b>
        <p>Estamos tan seguros de que nuestros precios son los más bajos que te garantizamos el mejor precio: si lo encuentras más barato, te devolvemos el 110% de la diferencia.</p>
      </div>

      <div class="my-4">
        <b>Consejo</b>
        <p>Las más de 2.000 personas repartidas por nuestras más de 500 tiendas están para proporcionarte siempre consejo experto, sencillo e imparcial para que encuentres lo mejor para ti.</p>
      </div>

      <div class="my-4">
        <b>Servicios</b>
        <p>Te damos asistencia durante toda la vida de tu equipo antes, durante y después de la compra.</p>
      </div>

      <ul class="list-unstyled">
        <li><strong>Seguro:</strong> con el que estarás cubierto frente a robo, hurto y cualquier daño accidental.</li>
        <li><strong>Remóvil:</strong> te compramos tu teléfono usado y te damos más que nadie por él. Además, podrás descontar ese importe en la compra de tu nuevo teléfono.</li>
        <li><strong>Servicio Técnico:</strong> somos servicio técnico oficial y reparamos tu móvil en cualquiera de nuestras tiendas en el acto con nuestro servicio de reparación express.</li>
        <li><strong>Financiación:</strong> financiamos todas tus compras a partir de 200€. Además, te ofrecemos financiación gratis sin intereses (TIN: 0% - TAE: 0%) en una selección de productos.</li>
      </ul>
    </div>
  </div>
</div>




