<!-- your html code here -->
<div class="container-fluid bg-light">
    <h2><strong>Contact</strong></h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint sit aperiam officia expedita laboriosam cumque, est repudiandae doloremque porro recusandae consequuntur quae voluptates! Sint aliquam tenetur sapiente necessitatibus repellat ad.</p>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>