<div class="container-fluid" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    <div class="text-center py-5" style="background-color: white;">
        <h1 style="font-family: 'Georgia', serif; color: cornflowerblue; font-size: 3em; margin-bottom: 20px;">Maak House</h1>
        <img src="https://www.lavanguardia.com/andro4all/hero/2023/08/oppo-find-x5-5g-colores.png?width=768&aspect_ratio=16:9&format=nowebp" 
             alt="Móvil" style="border-radius: 10px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); max-width: 100%; height: 500px;">
    </div>
</div>